<div class="navbar navbar-expand-sm navbar-light navbar-lewagon justify-content-evenly">
  <div class="container-fluid">
    <%# <%= link_to root_path, class: "navbar-brand" do %>
      <%# <%= image_tag "https://res.cloudinary.com/djqkw5dd4/image/upload/v1709049954/power-supply_bgdbpz.png", style: "height: 20px;" %>
    <%# <% end %>
    <%# <div class="d-flex justify-content-center"> %>
      <h1 class=""> <strong><%= link_to "Ride My e-Car", root_path, class: "black-link" %></strong> </h1>
    <%# </div> %>


      <ul class="navbar-nav">
       <div class="commands d-flex">
        <% if user_signed_in? %>
          <%# <li class="nav-item active"> %>
            <%# <%= link_to "Home", root_path, class: "nav-link" %>
          <%# </li> %>
          <li class="nav-item active mt-3">
            <%= link_to "Cars", cars_path, class: "nav-link" %>
          </li>
          <li class="nav-item mt-3">
            <%= link_to "Bookings", bookings_path, class: "nav-link" %>
          </li>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <li class="nav-item dropdown mt-1">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="m-1">
                <% if current_user.avatar.attached? %>
                  <%= cl_image_tag current_user.avatar.key, class: "avatar", alt: "dropdown menu" %>
                <% else %>
                  <%= image_tag "https://res.cloudinary.com/djqkw5dd4/image/upload/v1709047309/user_xgox50.png", class: "avatar" %>
                <% end %>
              </div>
            </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Profile", edit_user_registration_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
            </li>
          </div>
        <% else %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Cars", cars_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
</div>
    </ul>

  </div>
</div>
