
<div class="container card mb-3 shadow p-3" >
  <div class="d-flex g-0">
    <div class="col-md-5">
      <%= image_tag @car.image_url, class: "img-fluid float-start", alt: "..." %>
    </div>
    <div class="col-md-6">
      <div class="card-body margin-left:100px;">
        <h2 class="card-title"><%="#{@car.make} #{@car.model}" %> </h2>
        <ul class="list-unstyled card-text">
          <li> <%= @car.year %> </li>
          <li>£<%= @car.price %> </li>
          <li> <%= @car.category%></li>
          <li> <%= @car.location%></li>
          <li> <%= @car.seats%></li>
        </ul>
   <%= link_to "Book Now", new_car_booking_path(@car), class: "btn btn-dark"%>
      </div>
    </div>
    <div class="w-100">
      <button class="btn btn-dark me-md-2 ">book now</button>
    </div>
  </div>
</div>
